@charset "UTF-8";
/**
 *
 * @authors Marte (iqianduan@126.com)
 * @date    2020-08-10 16:41:00
 * @version $Id$
 */
*{
    margin: 0;
    padding: 0;
}
img{
    border:0;
}
ol, ul ,li{list-style: none;}
.clearfix:before,.clearfix:after{
    clear:both;
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
    font-size: 41.4px;
}
body{
    font-size:12px;
    font-family: sans-serif;
}
header.header {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 0.4rem;
    background-color: #ff552e;
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 1.4rem;
    z-index: 100;
}
.header_left{
    padding-right: 0.1rem;
}
.header_middle{
    justify-content:center;
    flex-grow:1;
    min-width: 0rem;
}
.middle_wrapper {
    color: #e8d4d4;
    background-color: rgb(243 230 230 / 20%);
    display: flex;
    width: 90%;
    align-items: center;
    height: 80%;
    justify-content: center;
    border-radius: 2%;
}
.middle_wrapper > a{
    font-size:14px;
    transition: all 0.3s;
}
@media screen and (max-width: 190px){
    .SearchBar{
        opacity: 0.1;
    }
}
.header_left,.header_middle,.header_right{
    display:flex;
    align-items:center;
    position: relative;
}
a.numbers {
   padding-right: 0.5rem;
    font-size: 0.5rem;
    color: #ffffff;
    font-weight: 900;
}
a.numbers.special1 {
    position: absolute;
    font-size: 0.7rem;
    top: 14%;
    left: 13%;
}
.arrow > span{
       top: 48%;
    right: -2%;
    position: absolute;
    width: 0px;
    border-top: 5px solid #ffffff;
    border-bottom: 0px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
a.province {
        min-width: 0.8rem;
    font-size: 0.4rem;
    color: #fff;
}
a.arrow {
    height: 100%;
    width: 0.3rem;
}
.header_right > a{
        min-width: 0.8rem;
    font-size: 0.38rem;
    color:#ffffff;
}
.header_right > span{
    color: #ffffff;
    opacity: 0.5;
    padding: 0 0.15rem;
}
.FIX{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #181515e8;
    width: 100%;
    height: 1.1rem;
}
.FIX_wrapper{
    color:#c0b5b5;
    width: 96%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    height:100%;
}
.left_fix img{
    width: 0.7rem;
}
.left_fix span{
    font-size: 0.1rem;
    padding-left: 0.3rem;
}
.right_fix > span{
    color: #fff;
    font-size: 0.3rem;
    padding: 0.1rem 0.1rem;
    border: 1px solid #f40;
    background-color: #f40;
}
.right_fix > img{
        padding-left: 0.3rem;
    width: 0.25rem
}
.fixs{
    justify-content: center;
    align-items: center;
    display: flex;
}
.cates{
    margin: 1.4rem 0 0.2rem 0;
    position: relative;
}
.cates_list{
        width: 12rem;
    list-style: none;
    height: 4rem;
}
.cates_item{
    height: 2rem;
    width: 2rem;
    float: left;
    list-style: none;
}
.Circle_box > ul > li{
    line-height: 0.5rem;
}
.cates_item > a{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.cates_item > a > span:first-child{
    display: inline-block;
    width: 38px;
    height: 38px;
    background: url(../img/index1/smallPicture.png);
    background-size: 620%;
    background-position: 0 -1px;
}
.placeholder {
    background-color: antiquewhite;
    height: 0.3rem;
}
span.Top_right{
    position: absolute;
    top: 0;
    right: 0;
}
span.P1{
    right: 14%;
    top: 9%;
    width: .3rem;
    background: url('../img/index1/hot.png');
    height: 0.3rem;
    background-size: contain;
}
span.P2{
    top: 11%;
    width: 0.7rem;
    background: url('../img/index1/baicaijia.png');
    height: 0.3rem;
    background-size: cover;
    right: -6%;
}
span.P3{
    background: url('../img/index1/zuanxianjin.png');
    top: 10%;
    right: -3%;
    width: 0.7rem;
    height: 0.3rem;
    background-size: cover;
}
.recommand_circle {
    align-items: center;
    display:flex;
    border-top: 1px solid #f3f3f3;
    background-color: #fff;
}
.left_recommand img{
        padding: 0 0.25rem;
    width: 1.2rem;
}
.left_recommand{
    height:100%;
}
.Circle_box {
    width: 100%;
    height: 1rem;
}
.Circle_item span{
    font-size:0.3rem;
}
.news_focus{
    padding: 0.01rem 0 0 0;
    box-sizing: border-box;
    color: #f40;
    padding-top: 0;
    border: 1px solid #f40;
}
.Circle {
    height:100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.Circle_box > ul{
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes move{
    0%{

    }
    18%{
        transform: translateY(-40px);
    }
    36%{
        transform: translateY(-80px);
    }
    54%{
        transform: translateY(-120px);
    }
    72%{
        transform: translateY(-160px);
    }
    90%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0px);
    }
}

.Adver{
    overflow: hidden;
    width: 100%;
    height: 2.1rem;
    text-align:center;
}
.Adver > a{
    box-sizing: border-box;
    padding-top: 0.16rem;
    width: 96%;
    height: 82%;
    display: inline-block;
}
.Adver  img{
    height: 1.7rem;
    width: 100%;
}
.zp_header {
    position:relative;
    padding: 0.1rem 0.5rem;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    height: 1rem;
    align-items: center;
}
.zp_header_left {
    font-weight: 600;
    font-size: 0.43rem;
    color: #f40;
}
.zp_header_right {
    font-size: 0.35rem;
    color: #b4b1b1;
}
.zp_header_right span.iconfont{
    background-color: rgb(145 141 141 / 30%);
}
span.play_P {
        position: absolute;
    width: 0px;
    border-left: 6px solid #ff000000;
    border-top: 6px solid #f40;
    border-right: 6px solid #ff000000;
    transform: rotate(-90deg);
    top: 44%;
    left: 12.5%;
}
.zp_list {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.zp_list_1 > li{
        font-size: 0.38rem;
    padding: 0.35rem 0.4rem;
}
.Special{
    color:#f40;
}
ul.zp_list_1 {
    padding-top:0.1rem;
    width: 100%;
    height: 100%;
}
.P4{
    top: 35% !important;
    left: 8.4% !important;
}
.house_recommand{
    display:flex;
    justify-content:space-around;
}
.house_img img{
    width: 1.8rem;
}
.house_img {
    text-align: right;
}
.house_list {
    width: 100%;
    display: inline-block;
    height: 100%;
        box-sizing: border-box;
    padding: 0 0.45rem;
}
.house_title > h2{
    padding: 0.2rem 0;
}
.house_title > span{
    color: #afa9a9;
}
.P5{
    top: 46% !important;
    left:17.5% !important;
}
.For_free > a >span{
    font-size: 0.38rem;
}
.For_free > a{
    line-height: 1.4rem;
    text-align: left;
    margin: 0 auto;
    width: 84%;
    height: 90%;
    display: block;
    border-radius: 1%;
    background-color: #f7f5f58f;
}
.For_free{
    width: 100%;
    text-align: center;
    height: 1.5rem;
}
.placeholderBar {
    width: 100%;
    background-color: #fbf7f7;
    height: 0.32rem;
}
.copyright_sketch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
    height:100%;
    color: #807474;
}
.copyright_gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copyright_sketch > a{
    width: 0.6rem;
    height: 0.45rem;
    text-align: center;
    border-radius: 50%;
    line-height: 0.45rem;
    border: 1px solid #e5e5e5;
    transform: scale(1.5,1.5);
}
.copyright_sketch > span{
    padding-top: 0.4rem;
}
.copyright_dd {
    position: relative;
    border-bottom: 1px solid #a19999;
    height: 1rem;
}
.dd_wrapper {

    color: #a19999;
    margin: 0 auto;
    width: 6rem;
    display: flex;
    justify-content: space-around;
}
.down_copyright{
    color: #a18e8e;
    padding: 0.3rem 0 1.2rem 0;
    text-align: center;
}
.copyright_dd::after{
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 45%;
    left: 47%;
    background-size: 100%;
    content: '';
    background: url("../img/index1/logo.png");
}
.backTop{
        line-height: 0.7rem;
    position: fixed;
    bottom: 10%;
    right: 3%;
    width: 0.7rem;
    border-radius: 50%;
    height: 0.7rem;
    background-color: #e2e2e2a1;
    border: 1px solid gray;
    z-index: 100;
    text-align: center
}
.backTop > a{
    height: 100%;
    width: 100%;
}
.backTop > a > span{

}